{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Category
    {% endblock %}
</head>
<body>
{% block content %}
{% if category_publications %}
<h1>{{categories}}</h1>
<ul>
    {% for publication in category_publications %}
    <li><a href="{% url 'publication-detail' publication.pk %}">{{ publication.title }}</a> -
        by {{ publication.author.first_name }} {{ publication.author.last_name }}
        {% if user.is_authenticated %}
        <a href="{% url 'publication-update' publication.pk %}">Edit</a>
        <a href="{% url 'publication-delete' publication.pk %}">Delete</a>
        {% endif %}
        <p> START TIME: {{ publication.start_time }}</p>
        <p> END TIME: {{ publication.end_time }}</p>
        <p> NOTES: {{ publication.summary|slice:":100"|safe }} </p>
        <p> PUBLISHED: {{ publication.publication_date }} </p></li>
    <br>
    {% endfor %}
</ul>
{% else %}
<h2>Page doesn't exist!</h2>
{% endif %}
{% endblock %}
</body>
</html>