{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {{publication.author.first_name}} {{publication.category}} {{publication.end_time}}
    {% endblock %}
</head>
<body>
{% block content %}
<h1>{{ publication.title }} - {{publication.author.id}}</h1>
By: {{publication.author.first_name}} {{publication.author.last_name}} - {{publication.publication_date}}
<p>Category: {{publication.category}} </p>
{% if user.is_authenticated %}
{% if user.id == publication.author.id %}
<a href="{% url 'publication-update' publication.pk %}">Edit</a>
<a href="{% url 'publication-delete' publication.pk %}">Delete</a>
{% endif %}
{% endif %}
<br>
<hr>
{% if publication.add_image %}
    <img src="{{ publication.add_image.url }}" width="800" height="600">
{% endif %}
<p> {{ publication.summary|safe }} </p>
<br> <br>
<a href="{% url 'home' %}" class="btn btn-primary">Go Back</a>
<br><br>
<hr>
<br>
<form action="{% url 'like_publication' publication.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button
                type="submit" , name="publication_id" , value="{{ publication.id }}" , class="btn btn-danger">Unlike
            </button>
        {% else %}
            <button
                type="submit" , name="publication_id" , value="{{ publication.id }}" , class="btn btn-primary">Like
            </button>
        {% endif %}
        {{ count_likes }} Likes
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Log In to like</a>
    {% endif %}
</form>
{% endblock %}
</body>
</html>