{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {{publication.author.first_name}} {{publication.category}} {{publication.end_time}}
    {% endblock %}
</head>
<body>
{% block content %}
    <h1>{{ publication.title }} - {{publication.author.id}}</h1>
    By: {{publication.author.first_name}} {{publication.author.last_name}} - {{publication.publication_date}}
    <p>Category: {{publication.category}} </p>
    {% if user.is_authenticated %}
        {% if user.id == publication.author.id %}
            <a href="{% url 'publication-update' publication.pk %}">Edit</a>
            <a href="{% url 'publication-delete' publication.pk %}">Delete</a>
        {% endif %}
    {% endif %}
    <br>
    <hr>
        <p> {{ publication.summary|safe }} </p>
        <br> <br>
        <a href="{% url 'home' %}" class="btn btn-primary">Go Back</a>
{% endblock %}
</body>
</html>