<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Publications</h1>
<ul>
{% for publication in object_list %}
    <li>{% block title %} <a href="{% url 'publication-detail' publication.pk %}">{{ publication.title }}</a> -
        {{ publication.author.first_name }}
        {{ publication.author.last_name }}
        {% endblock %}
        {% block content %}
        <p> START TIME: {{ publication.start_time }}</p>
        <p> END TIME: {{ publication.end_time }}</p>
        <p> NOTES: {{ publication.summary }} </p>
        <p> PUBLISHED: {{ publication.publication_date }} </p> </li>
        {% endblock %}
    <br>
{% endfor %}
</ul>
</body>
</html>