{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Home
    {% endblock %}
</head>
<body>
{% block content %}
    <h1> Publications</h1>
    <br>
    <ul>
    {% for publication in object_list %}
    <li> <a href="{% url 'publication-detail' publication.pk %}">{{ publication.title }}</a> -
        {{ publication.category }} by
        {{ publication.author.first_name }}
        {{ publication.author.last_name }}

        {% if user.is_authenticated %}
            <a href="{% url 'publication-update' publication.pk %}">Edit</a>
            <a href="{% url 'publication-delete' publication.pk %}">Delete</a>
        {% endif %}

        <p> START TIME: {{ publication.start_time }}</p>
        <p> END TIME: {{ publication.end_time }}</p>
        <p> NOTES: {{ publication.summary|slice:":100"|safe }} </p>
        <p> PUBLISHED: {{ publication.publication_date }} </p> </li>
    <br>
    {% endfor %}
    </ul>
{% endblock %}
</body>
</html>