{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Edit Publication
    {% endblock %}
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == publication.author.id %}
        <h1> Update Publication</h1>
        <br>
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary"> Update </button>
            </form>
        </div>
    {% else %}
        <strong> Not allowed!!!!!!</strong>
    {% endif %}
{% else %}
    <strong> Not allowed!!!!!!</strong>
{% endif %}
{% endblock %}
</body>
</html>