{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Login
    {% endblock %}
</head>
<body>
{% block content %}
<h1> Login In</h1>
<br>
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
            Username:
        <input type="text" class="form-control" name="username">
        <br>
            Password:
        <input type="password" class="form-control" name="password">
        <br>
        First Time? Click to <a href="{% url 'sign-up' %}"> Sign Up </a>
        <br><br>
        <button class="btn btn-primary"> Login</button>
    </form>
</div>


{% endblock %}
</body>
</html>